NET "clk" LOC = U25;	# 11MB
NET "rst" LOC = T1;

NET "baseram_data[0]" LOC = AC24;
NET "baseram_data[1]" LOC = AD24;
NET "baseram_data[2]" LOC = AC26;
NET "baseram_data[3]" LOC = AB26;
NET "baseram_data[4]" LOC = Y24;
NET "baseram_data[5]" LOC = AA24;
NET "baseram_data[6]" LOC = Y22;
NET "baseram_data[7]" LOC = AB24;
NET "baseram_data[8]" LOC = AD19;
NET "baseram_data[9]" LOC = AB18;
NET "baseram_data[10]" LOC = AD18;
NET "baseram_data[11]" LOC = AC17;
NET "baseram_data[12]" LOC = AB17;
NET "baseram_data[13]" LOC = AF21;
NET "baseram_data[14]" LOC = AE21;
NET "baseram_data[15]" LOC = AF20;
NET "baseram_data[16]" LOC = AE23;
NET "baseram_data[17]" LOC = AF24;
NET "baseram_data[18]" LOC = AE24;
NET "baseram_data[19]" LOC = AF25;
NET "baseram_data[20]" LOC = AE25;
NET "baseram_data[21]" LOC = AE26;
NET "baseram_data[22]" LOC = AD26;
NET "baseram_data[23]" LOC = AC25;
NET "baseram_data[24]" LOC = AF19;
NET "baseram_data[25]" LOC = AE19;
NET "baseram_data[26]" LOC = AF18;
NET "baseram_data[27]" LOC = AF17;
NET "baseram_data[28]" LOC = AE17;
NET "baseram_data[29]" LOC = AF16;
NET "baseram_data[30]" LOC = AF15;
NET "baseram_data[31]" LOC = AE15;

NET "baseram_ce" LOC = AA26;
NET "baseram_oe" LOC = AD17;
NET "baseram_we" LOC = AA25;

NET "uart_rdn" LOC = R25;		# inter3
NET "uart_tbre" LOC = R23;		# inter4
NET "uart_tsre" LOC = T26;		# inter5
NET "uart_wrn" LOC = T24;		# inter6

NET "segdisp0[0]" LOC = B26;
NET "segdisp0[1]" LOC = C25;
NET "segdisp0[2]" LOC = D24;
NET "segdisp0[3]" LOC = A25;
NET "segdisp0[4]" LOC = B24;
NET "segdisp0[5]" LOC = C26;
NET "segdisp0[6]" LOC = D26;

NET "segdisp1[0]" LOC = C24;
NET "segdisp1[1]" LOC = D22;
NET "segdisp1[2]" LOC = E23;
NET "segdisp1[3]" LOC = B23;
NET "segdisp1[4]" LOC = A23;
NET "segdisp1[5]" LOC = D23;
NET "segdisp1[6]" LOC = B25;


# vim: ft=conf
