_*
*~
*#
*.ace
*.bak
*_beh.prj
*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.cr.mti
*.csv
*.data
db
doc
*.drc
*.elf
*.err
*.exe
*.gise
*.gyd
*_html
*.html
impact_impact.xwbt
impact.xsl
incremental_db
*.ini
iseconfig
isim
*.jed
*.lfp
*.log
*.lso
*.map
*.mfd
*.mod
*.mrp
*.ncd
*.nga
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
pepExtractor.prj
*.pnx
*.prj
*.ptwx
*.rpt
*.scr
*.stx
*.svf
*.swp
*.syr
*.tcl
*.tim
transcript
*.tspec
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vhi
*.vm6
vsim.wlf
*.wdb
webtalk_impact.xml
webtalk.log
work
xlnx_*
*.xml
*.xmsgs
*.xpi
*.xreport
*.xrpt
xst
*.xst
*.xwbt
*.lst
