NET "clk50M" LOC = U26;
NET "rst" LOC = T1;
NET "clk_manual" LOC = T3;

NET "clk50M" TNM_NET = clk50M;

NET "params[0]" LOC = Y5;
NET "params[1]" LOC = W1;
NET "params[2]" LOC = W2;
NET "params[3]" LOC = V1;
NET "params[4]" LOC = U1;
NET "params[5]" LOC = U2;
NET "params[6]" LOC = R1;
NET "params[7]" LOC = R2;
NET "params[8]" LOC = P1;
NET "params[9]" LOC = N1;
NET "params[10]" LOC = N2;
NET "params[11]" LOC = M1;
NET "params[12]" LOC = L1;
NET "params[13]" LOC = L2;
NET "params[14]" LOC = W5;
NET "params[15]" LOC = W3;
NET "params[16]" LOC = V4;
NET "params[17]" LOC = V3;
NET "params[18]" LOC = U4;
NET "params[19]" LOC = U3;
NET "params[20]" LOC = T4;
NET "params[21]" LOC = R4;
NET "params[22]" LOC = R3;
NET "params[23]" LOC = P5;
NET "params[24]" LOC = P3;
NET "params[25]" LOC = N4;
NET "params[26]" LOC = N3;
NET "params[27]" LOC = N5;
NET "params[28]" LOC = M4;
NET "params[29]" LOC = M3;
NET "params[30]" LOC = L4;
NET "params[31]" LOC = L3;



TIMESPEC TS_clk50M = PERIOD "clk50M" 20 ns HIGH 50%;
#Created by Constraints Editor (xc6slx100-fgg676-3) - 2013/11/17
NET "clk_cpu" TNM_NET = clk_cpu;
TIMESPEC TS_clk_cpu = PERIOD "clk_cpu" 40 ns HIGH 50%;
