NET "color_out[8]" LOC = M24;
NET "color_out[7]" LOC = N25;
NET "color_out[6]" LOC = N24;
NET "color_out[5]" LOC = E24;
NET "color_out[4]" LOC = E25;
NET "color_out[3]" LOC = E26;
NET "color_out[2]" LOC = H24;
NET "color_out[1]" LOC = G24;
NET "color_out[0]" LOC = F24;

NET "hsync" LOC = L23;
NET "vsync" LOC = J23;

NET "clk50M" LOC = U26;
