NET "clk"  LOC = "P1";			# 50MB

NET "data[0]"  LOC = "P50";
NET "data[1]"  LOC = "P49";
NET "data[2]"  LOC = "P46";
NET "data[3]"  LOC = "P43";
NET "data[4]"  LOC = "P42";
NET "data[5]"  LOC = "P41";
NET "data[6]"  LOC = "P40";
NET "data[7]"  LOC = "P39";
NET "enable_recv"	LOC = "P6";		# InterConn0
NET "TxD_start"		LOC = "P7";		# InterConn1
NET "TxD_busy"		LOC = "P8";		# InterConn2
NET "RxD_data_ready"  LOC = "P9";	# InterConn3
NET "RxD_waiting_data" LOC = "P10";	# InterConn4
NET "rst" LOC = "P11";				# InterConn5

NET "TxD"  LOC = "P54"; # TXD1
NET "RxD"  LOC = "P58"; # RXD1


#NET "ps2clock"  LOC = "P71";
#NET "ps2data"  LOC = "P70";
#NET "interconn7"  LOC = "P13";
#NET "interconn8"  LOC = "P14";


# vim: ft=conf
